@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#start-article{
    margin: 0 auto;
    text-align: center;
}

.main-text{font-family: 'TmoneyRoundWindExtraBold'; font-size: 3rem; color: #262626;  text-align: center; padding-top: 3vh;}
.sub-text{font-family: 'pretendard'; font-size: 1.5rem; color: #262626; text-align: center; font-weight: 500; line-height: 2rem; margin: 5vh 3vw;}
.imgSection{width: 80vw; height: 50vh; background-color: #c4c4c4; border-radius: 50px; margin: 0 auto; margin-bottom: 5vh;}

button{background-color: #FFE072; border: none; padding: 20px 100px; border-radius: 999px; font-family: 'TmoneyRoundWindExtraBold'; font-size: 2rem; color: #262626; text-align: center; display: block; margin: 0 auto; margin-bottom: 20px; width: 80vw;}





#question-article, #result-article{
    display: none;
}